.d-flex-center {
  display: flex;
  align-items: center; }

.p-relative {
  position: relative; }

.card {
  background: #ffffff;
  border: 1px solid #dee2e6;
  padding: 2.0rem; }

.header {
  background: white;
  border: 1px solid #dee2e6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2.0rem; }

.search-bar__input {
  margin-bottom: 0; }

input.search-bar__input {
  padding-right: 3.5rem; }

.search-bar__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding-right: 1.0rem;
  padding-left: 1.0rem; }

.search-bar__icon {
  height: 2.0rem; }

.artist-info {
  flex-wrap: wrap;
  margin-bottom: 2.0rem;
  text-align: center;
  justify-content: center; }

.artist-name {
  font-weight: bolder;
  font-size: 3.0rem;
  display: block;
  margin-bottom: 2.0rem; }

.on-tour-badge {
  text-transform: uppercase;
  background: #dc3545;
  line-height: 1;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem; }

.artist-picture {
  border-radius: 50%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border: 10px solid white; }

/* Larger than phablet */
@media (min-width: 550px) {
  .artist-picture {
    width: 100%; } }

.artist-events {
  text-align: left;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 3.0rem; }

.artist-events__title {
  color: #adb5bd;
  font-size: 2.4rem;
  margin-bottom: 2.0rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  .artist-events {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem; } }

.artist-event__event {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 2.0rem;
  padding-bottom: 2.0rem; }

.artist-event__event:last-child {
  border: none; }

.artist-event__date {
  border: 1px solid #e9ecef;
  display: inline-block;
  margin-right: 1.5rem; }

.artist-event__month {
  background: #dc3545;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase; }

.artist-event__day {
  font-size: 2.4rem;
  text-align: center; }

.artist-event__venue-name {
  font-weight: bold;
  font-size: 1.6rem; }

.artist-event__venue-city,
.artist-event__venue-country {
  font-weight: 500;
  font-size: 1.4rem; }

.header {
  background: white;
  border: 1px solid #dee2e6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2.0rem; }

.search-bar__input {
  margin-bottom: 0; }

input.search-bar__input {
  padding-right: 3.5rem; }

.search-bar__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding-right: 1.0rem;
  padding-left: 1.0rem; }

.search-bar__icon {
  height: 2.0rem; }

.App {
  text-align: center;
  background-color: #f8f9fa; }
