.d-flex-center {
  display: flex;
  align-items: center; }

.p-relative {
  position: relative; }

.card {
  background: #ffffff;
  border: 1px solid #dee2e6;
  padding: 2.0rem;
  margin-bottom: 2.0rem; }

.bg-gray-200 {
  background: #e9ecef; }

.ui-loader__date {
  border: 1px solid #e9ecef;
  display: inline-block;
  margin-right: 1.5rem;
  width: 5.6rem;
  height: 6.4rem; }

.ui-loader__month {
  height: 2.4rem;
  background: #e9ecef;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase; }

.ui-loader_day {
  font-size: 2.4rem;
  height: 3.8rem;
  text-align: center; }

.ui-loader__big-block,
.ui-loader__small-block,
.ui-loader__medium-block {
  height: 1.6rem;
  margin-bottom: 0.7rem;
  max-width: 100%; }

.ui-loader__big-block:last-child,
.ui-loader__small-block:last-child,
.ui-loader__medium-block:last-child {
  margin-bottom: 0; }

.ui-loader__big-block {
  width: 20rem; }

.ui-loader__big-block--tall {
  height: 2.4rem;
  margin-bottom: 2.0rem; }

.ui-loader__small-block {
  width: 10rem; }

.ui-loader__medium-block {
  width: 15rem; }

.ui-loader__circle {
  position: relative;
  border-radius: 50%;
  width: 8.5rem;
  height: 8.5rem;
  margin: 0 auto;
  margin-bottom: 2rem; }

@media (min-width: 550px) {
  .ui-loader__circle {
    width: 100%;
    height: auto;
    padding-top: 100%;
    margin-bottom: 2rem; } }

.header {
  background: white;
  border-bottom: 1px solid #dee2e6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2.0rem; }

.search-bar__input {
  margin-bottom: 0; }

input.search-bar__input {
  padding-right: 3.5rem; }

.search-bar__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding-right: 1.0rem;
  padding-left: 1.0rem; }

.search-bar__icon {
  height: 2.0rem; }

.artist-info {
  flex-wrap: wrap;
  margin-bottom: 1.0rem;
  text-align: center;
  justify-content: center; }

@media (min-width: 550px) {
  .artist-info {
    margin-bottom: 2.0rem; } }

.artist-name {
  font-weight: bolder;
  font-size: 2.0rem;
  display: block;
  margin-bottom: 2.0rem; }

@media (min-width: 550px) {
  .artist-name {
    font-size: 3.0rem; } }

.on-tour-badge {
  text-transform: uppercase;
  background: #dc3545;
  line-height: 1;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem; }

.artist-picture {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background: #e9ecef;
  max-width: 8.5rem;
  margin-bottom: 2rem; }

@media (min-width: 550px) {
  .artist-picture {
    width: 100%;
    max-width: 20rem; } }

.artist-404 {
  color: #ced4da;
  position: absolute;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 2.4rem; }

.artist-events {
  text-align: left;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 3.0rem; }

.artist-events__title {
  color: #adb5bd;
  font-size: 2.4rem;
  margin-bottom: 2.0rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  .artist-events {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem; } }

.artist-event__event {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 2.0rem;
  padding-bottom: 2.0rem; }

.artist-event__event:last-child {
  border: none; }

.artist-event__date {
  border: 1px solid #e9ecef;
  display: inline-block;
  margin-right: 1.5rem; }

.artist-event__month {
  background: #dc3545;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase; }

.artist-event__day {
  font-size: 2.4rem;
  text-align: center; }

.artist-event__venue-name {
  font-weight: bold;
  font-size: 1.6rem; }

.artist-event__venue-city,
.artist-event__venue-country {
  font-weight: 500;
  font-size: 1.4rem; }

.artist-event__404 {
  color: #ced4da;
  font-weight: bold;
  text-align: center;
  font-size: 2.4rem; }

.header {
  background: white;
  border-bottom: 1px solid #dee2e6;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2.0rem; }

.search-bar__input {
  margin-bottom: 0; }

input.search-bar__input {
  padding-right: 3.5rem; }

.search-bar__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding-right: 1.0rem;
  padding-left: 1.0rem; }

.search-bar__icon {
  height: 2.0rem; }

html, body, #root {
  height: 100%; }

.App {
  text-align: center;
  background-color: #f8f9fa;
  min-height: 100%; }
