.d-flex-center {
    display: flex;
    align-items: center;
}

.p-relative {
    position: relative;
}

.card {
    background: $white;
    border: 1px solid $gray-300;
    padding: 2.0rem;
    margin-bottom: 2.0rem;
}

.bg-gray-200 {
    background: $gray-200;
}